<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.modules.exam.repo.mapper.RepoQuAnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.modules.exam.repo.dto.RepoQuAnswerDTO">
        <id column="id" property="id"/>
        <result column="qu_id" property="quId"/>
        <result column="is_right" property="isRight"/>
        <result column="content" property="content"/>
        <result column="image" property="image"/>
        <result column="tag" property="tag"/>
    </resultMap>

</mapper>
