<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.modules.exam.repo.mapper.RepoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.modules.exam.repo.dto.RepoDTO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="cat_id" property="catId"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <resultMap id="ListResultMap"
               type="com.yf.modules.exam.repo.dto.response.RepoListRespDTO"
               extends="BaseResultMap">
        <result column="quCount" property="quCount"/>
    </resultMap>

    <select id="paging" resultMap="ListResultMap">
        SELECT repo.*,(SELECT COUNT(*) FROM el_repo_qu WHERE repo_id=repo.id) AS quCount FROM el_repo repo
        <where>
            <if test="query!=null">
                <if test="query.title!=null">
                    AND repo.title LIKE CONCAT('%', #{query.title}, '%')
                </if>
            </if>
        </where>
    </select>

    <select id="listStat" resultType="com.yf.modules.exam.repo.dto.response.RepoStatRespDTO">
        SELECT dv.dic_value                                                                           AS quType,
               (SELECT COUNT(0) FROM el_repo_qu WHERE repo_id = #{repoId} AND qu_type = dv.dic_value) AS quCount
        FROM el_sys_dic_value dv
        WHERE dv.dic_code = 'qu_type'
    </select>

</mapper>
