<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.system.modules.dict.mapper.SysDicValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.system.modules.dict.entity.SysDicValue">
        <id column="id" property="id"/>
        <result column="dic_code" property="dicCode"/>
        <result column="dic_value" property="dicValue"/>
        <result column="title" property="title"/>
        <result column="parent_id" property="parentId"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <select id="findDictText" resultType="String">
        SELECT `title`
        FROM el_sys_dic_value
        WHERE `dic_code` = #{dicCode}
          AND `dic_value` = #{dicValue}
        LIMIT 1
    </select>

    <select id="findTableText" resultType="String">
        SELECT `${dicText}`
        FROM ${dicTable}
        WHERE `${dicCode}` = #{dicValue}
        LIMIT 1
    </select>

</mapper>
