<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.modules.exam.exam.mapper.ExamRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.modules.exam.exam.dto.ExamRecordDTO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="exam_id" property="examId"/>
        <result column="paper_id" property="paperId"/>
        <result column="try_count" property="tryCount"/>
        <result column="max_score" property="maxScore"/>
        <result column="last_score" property="lastScore"/>
        <result column="passed" property="passed"/>
    </resultMap>

    <select id="clientPaging" resultMap="BaseResultMap">
        SELECT rc.* FROM el_exam_record rc LEFT JOIN el_exam ex ON rc.exam_id=ex.id WHERE user_id=#{query.userId} AND ex.id IS NOT NULL
        <if test="query!=null">
            <if test="query.title!=null and query.title!=''">
                AND ex.title LIKE CONCAT('%', #{query.title} '%')
            </if>
            <if test="query.passed!=null">
                AND rc.passed=#{query.passed}
            </if>
        </if>
        ORDER BY rc.id DESC
    </select>

    <select id="paging" resultMap="BaseResultMap">
        SELECT rc.* FROM el_exam_record rc LEFT JOIN el_sys_user uc ON rc.user_id=uc.id LEFT JOIN el_exam ee ON ee.id=rc.exam_id
        <where>
            AND ee.id IS NOT NULL
            <if test="query!=null">
                <if test="query.examId!=null and query.examId!=''">
                    AND rc.exam_id=#{query.examId}
                </if>
                <if test="query.userName!=null and query.userName!=''">
                    AND (uc.real_name LIKE CONCAT('%', #{query.userName} '%') OR uc.user_name LIKE CONCAT('%',
                    #{query.userName} '%'))
                </if>
                <if test="query.passed!=null">
                    AND rc.passed=#{query.passed}
                </if>
                <if test="query.scoreMin!=null and query.scoreMin>0 ">
                    AND rc.max_score >= #{query.scoreMin}
                </if>
                <if test="query.scoreMax!=null and query.scoreMax>0 ">
                    AND rc.max_score &lt;= #{query.scoreMax}
                </if>
            </if>
        </where>
        ORDER BY rc.id DESC
    </select>

</mapper>
