<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.modules.exam.exam.mapper.ExamRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.modules.exam.exam.dto.ExamRuleDTO">
        <id column="id" property="id"/>
        <result column="exam_id" property="examId"/>
        <result column="repo_id" property="repoId"/>
        <result column="qu_type" property="quType"/>
        <result column="qu_count" property="quCount"/>
        <result column="qu_score" property="quScore"/>
    </resultMap>

</mapper>
